

header{
    height: 900px;
    width:1440px;
}

.head1{
    font-size: 52px;
    font-family: .AppleSystemUIFont;
    color: #43484D;
    text-align:center;
}
.heading1{
    font-size: 52px;
    font-family: .AppleSystemUIFont;
    color: #43484D;
    text-align:center;
    position: relative;
    top: 30px;
}
.h2center{
    font-size: 32px;
    font-family: .AppleSystemUIFont;
    color: #43484D;
}

#Menu{
    position: relative;
    top: 30px;
}
.logo{
    position: relative;
    left: 30px;
}
#CallAction{
    height:500px;
    width:1440px;
}

#Textimonials{
    height:400px;
    width:1440px;
    
}
#PriceTables{
    height: 748px;
    width: 1440px;
    background-color: #F4F4F4;
}
.chartcontainer{
    position: relative;
    top: 300px;
}

.dragtravel{
    font-family: .AppleSystemUIFont;
    font-size: 14px;
    color: #86939E;
    text-align: center;
    position: relative;
    top: 300px;
}

.dragbutton{
    text-align: center;
    position: relative;
    top: 300px;
}
.chooseYour{
    position: relative;
    top: 80px;
}
.Box1{
    /* Background: */
    background: #FFFFFF;
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
    width:360px;
    height: 430px;
    display: inline-block;
    margin-right: 30px;

}

.Box2{
    /* Background: */
    background: #FFFFFF;
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
    width:360px;
    height: 430px;
    display: inline-block;
    margin-right: 30px;
}

.Box3{
    /* Background: */
    background: #FFFFFF;
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
    width:360px;
    height: 430px;
    display: inline-block;

}

.BoxContainer{
    margin: 0 auto;
    width: 1400px;
    height: 500px;
    text-align: center;
    position: relative;
    top: 130px;
    


}

.bgc{
    font-size: 16px;
    font-family: .SFNSDisplay-Regular;
    color: #86939E;
    padding-top: 10px;
    opacity: 0.5;
    
}
.upperhalf{
    padding-top: 50px;
}
.free{
    font-size:52px;
    color: #7DC855;
    display: inline-block;
    
}
.amount {
    font-size: 52px;
    color: #43484D;
    display: inline-block;
}
.sign{
    font-size: 27px;
    color: #43484D;
    display: inline-block;
    position: relative;
    bottom: 15px;
}

.perMonth{
    font-size: 14px;
    color: #86939E;
    text-align: left;
    display: inline-block;
    position: relative;
    top: 10px;
    left: 20px;
}

.containfree{
    position:relative;
    top:30px;
}
.containmoney{
    position: relative;
    top:30px;
}

.greenbutton1{
    width: 300px;
    height: 60px;
    background-color: #7DC855;
    position: relative;
    top:50px;
}

.greenbutton2{
    width: 300px;
    height: 60px;
    background-color: #7DC855;
    position: relative;
    top:50px;
    
}

.greenbutton3{
    width: 300px;
    height: 60px;
    background-color: #7DC855;
    position: relative;
    top:50px;
}
.bodywhite{
    font-size:16px;
    color: white;
}
#Subscribe{
    height:386px;
    width: 1440px;
}
footer{
    height:100px;
    width:100%;
    background: #86939E;
    color: white;
}
.logo{
    float: left;
    display: inline-block;
}

.getfree{
    display: inline-block;
    font-family: .AppleSystemUIFont;
    font-size: 16px;
    color: #86939E;
    position: relative;
    right: 50px;
}
.wrapper0{
    text-align: right;
    
}
.whitebutton{
    display: inline-block;
    border: 2px solid #E1E8EE;
    border-radius: 6px;
    background-color: white;
    position: relative;
    right: 30px;
    
    
}

h1{
    font-family: .AppleSystemUIFont;
    font-size: 52px;
    color: #43484D;
    letter-spacing: -2px;
    line-height: 58px;
    text-align: center;
}

#subheader{
    font-family: .AppleSystemUIFont;
    font-size: 22px;
    color: #717D8A;
    letter-spacing: 0px;
    line-height: 32px;
    text-align: center;
}

.wrapper{
    text-align: center;
    position: relative;
    top: 50px;
}
.button0{
    /* Button: */
    border: 2px solid #E1E8EE;
    border-radius: 6px;
    width: 193px;
    height: 60px;
    background-color: white;
    
    
}

.containhead{
    position: relative;
    top: 80px;
}
.buyNow1{
    font-family: .AppleSystemUIFont;
    font-size: 16px;
    color: #86939E;
    
}
.BuyNow0{
    /* Buy now: */
    font-family: .AppleSystemUIFont;
    font-size: 16px;
    color: #86939E;
    letter-spacing: 0px;
    line-height: 16px;
    display: inline-block;
    position:relative;
    right:17px;
    top:8px;
}


.euro{
    /* €23: */
    font-family: .AppleSystemUIFont;
    font-size: 16px;
    color: #86939E;
    letter-spacing: 0px;
    line-height: 16px;
    display: inline-block;
    position: relative;
    left: 15px;

}
/*h5{*/
/*    font-family: .AppleSystemUIFont;*/
/*    font-size: 22px;*/
/*    color: #5E6977;*/
/*    letter-spacing: 0px;*/
/*    line-height: 32px;*/
/*}*/

#quote2center{
    
    font-family: .SFNSDisplay-Regular;
    font-size: 32px;
    color: #43484C;
    letter-spacing: 0px;
    line-height: 46px;
    text-align: center;
    
}


.button2{
    /* Button: */
    background: #7DC855;
    border-radius: 6px;
    height:60px;
    width: 190px;
    position: relative;
    top: 40px;
}


#BuyNow{
    font-family: .AppleSystemUIFont;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0px;
    line-height: 16px;
}

#background0{

    background: #FFFFFF;
    position: relative;
    top: 30%;


}

.container{
    position: relative;
    top: 30%;
}

#icon{
    float:left;
    position: relative;
    top: 140px;
    left: 150px;
}
#Userpic{
    float:left;
    position: relative;
    top: 130px;
    left: 230px;
    
}

.quote2left{
    
    font-family: .AppleSystemUIFont;
    font-size: 32px;
    color: #43484C;
    letter-spacing: 0px;
    line-height: 46px;
    text-align: left;
    position: relative;
    top:80px;
    left: 260px;


}

#hleft{
    /* Irina Bykova: */
    font-family: .AppleSystemUIFont;
    font-size: 18px;
    color: #43484D;
    letter-spacing: 0px;
    line-height: 25px;
    text-align: left;
    position: relative;
    top: 50px;
    left:400px;
}

#bodygrey{
    /* Photographer, works : */
    font-family: .AppleSystemUIFont;
    font-size: 16px;
    color: #86939E;
    letter-spacing: 0px;
    line-height: 25px;
    text-align: left;
    position: relative;
    top: 50px;
    left: 400px;f

}

.subheader1{
    /* We push ourselves to: */
    font-family: .AppleSystemUIFont;
    font-size: 22px;
    color: #5E6977;
    letter-spacing: 0px;
    line-height: 32px;
    text-align: center;
    position: relative;
    top: 45px;
}

.background3{
    /* Background: */
    background: #FFFFFF;
}

.copyright{
    text-align: right;
    position: relative;
    right: 60px;
    bottom: 20px;
}

.wrapper3{
    text-align: center;
    position: relative;
    top: 90px;
}

.input{
    /* Input: */
    border: 2px solid #E1E8EE;
    border-radius: 6px;
}

.button5{
    /* Button: */
    background: #7DC855;
    width: 140px;
    height: 60px;
}

#containerchart{
    top: 200px;
}

.quotecontain{
    margin: 0 auto;
}

.profile{
    position: relative;
    right: 15px;
}

.Lets{
    font-size:16px;
    font-family: .AppleSystemUIFont;
    color: white;
}
#emailinput{
    width:350px;
    height:60px;
}


.Apps{
    font-family: .AppleSystemUIFont;
    font-size: 16px;
    color: white;
    margin-right: 30px;
    opacity: 0.7;
}
.Gadgets{
    font-family: .AppleSystemUIFont;
    font-size: 16px;
    color: white;
    margin-right: 30px;
    opacity: 0.7;
    
}

.Science{
    font-family: .AppleSystemUIFont;
    font-size: 16px;
    color: white;
    margin-right: 30px;
    opacity: 0.7;
}

.Nature{
    font-family: .AppleSystemUIFont;
    font-size: 16px;
    color:white;
    margin-right: 30px;
    opacity: 0.7;
}
.Creative{
    font-family: .AppleSystemUIFont;
    font-size: 16px;
    color: white;
    margin-right: 30px;
    opacity: 0.7;
}
/*Boostrap*/

.glyphicon.glyphicon-chevron-left{
    font-size: 50px;
    position: relative;
    top: 150px;
    right: 20px;
}

.glyphicon.glyphicon-chevron-right{
    font-size: 50px;
    position: relative;
    top: -45px;
    left: 1360px;

}

.text {
    margin-left: 120px;
}

