
header{
    height: 900px;
    width:1440px;
}

#Menu{
    position: relative;
    top: 30px;
}
.logo{
    position: relative;
    left: 30px;
}
#CallAction{
    height:500px;
    width:1440px;
}

#Textimonials{
    height:400px;
    width:1440px;
    
}
#PriceTables{
    height: 748px;
    width: 1440px;
    background-color: #F4F4F4;
}
#Subscribe{
    height:386px;
    width: 1440px;
}
footer{
    height:100px;
    width:1440px;
}
.logo{
    float: left;
    display: inline-block;
}

.getfree{
    display: inline-block;
    font-family: .AppleSystemUIFont;
    font-size: 16px;
    color: #86939E;
    position: relative;
    right: 50px;
}
.wrapper0{
    text-align: right;
}
.whitebutton{
    display: inline-block;
    border: 2px solid #E1E8EE;
    border-radius: 6px;
    background-color: white;
    position: relative;
    right: 30px;
    
    
}

h1{
    font-family: .AppleSystemUIFont;
    font-size: 52px;
    color: #43484D;
    letter-spacing: -2px;
    line-height: 58px;
    text-align: center;
}

#subheader{
    font-family: .AppleSystemUIFont;
    font-size: 22px;
    color: #717D8A;
    letter-spacing: 0px;
    line-height: 32px;
    text-align: center;
}

.wrapper{
    text-align: center;
    position: relative;
    top: 30px;
}
.button0{
    /* Button: */
    border: 2px solid #E1E8EE;
    border-radius: 6px;
    width: 193px;
    height: 60px;
    background-color: white;
    
    
}

.containhead{
    position: relative;
    top: 80px;
}
.buyNow1{
    font-family: .AppleSystemUIFont;
    font-size: 16px;
    color: #86939E;
    
}
.BuyNow0{
    /* Buy now: */
    font-family: .AppleSystemUIFont;
    font-size: 16px;
    color: #86939E;
    letter-spacing: 0px;
    line-height: 16px;
    display: inline-block;
    position:relative;
    right:17px;
}


.euro{
    /* €23: */
    font-family: .AppleSystemUIFont;
    font-size: 16px;
    color: #86939E;
    letter-spacing: 0px;
    line-height: 16px;
    display: inline-block;
    position: relative;
    left: 15px;
    bottom: 10px;
}
/*h5{*/
/*    font-family: .AppleSystemUIFont;*/
/*    font-size: 22px;*/
/*    color: #5E6977;*/
/*    letter-spacing: 0px;*/
/*    line-height: 32px;*/
/*}*/

#quote2center{
    
    font-family: .SFNSDisplay-Regular;
    font-size: 32px;
    color: #43484C;
    letter-spacing: 0px;
    line-height: 46px;
    text-align: center;
    
}


.button2{
    /* Button: */
    background: #7DC855;
    border-radius: 6px;
    height:60px;
    width: 190px;
    position: relative;
    top: 40px;
}


#BuyNow{
    font-family: .AppleSystemUIFont;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0px;
    line-height: 16px;
}

#background0{

    background: #FFFFFF;
    position: relative;
    top: 30%;


}

.container{
    position: relative;
    top: 30%;
}

#icon{
    float:left;
    position: relative;
    top: 140px;
    left: 150px;
}
#Userpic{
    float:left;
    position: relative;
    top: 130px;
    left: 230px;
    
}

.quote2left{
    
    font-family: .AppleSystemUIFont;
    font-size: 32px;
    color: #43484C;
    letter-spacing: 0px;
    line-height: 46px;
    text-align: left;
    position: relative;
    top:80px;
    left: 260px;


}

#hleft{
    /* Irina Bykova: */
    font-family: .AppleSystemUIFont;
    font-size: 18px;
    color: #43484D;
    letter-spacing: 0px;
    line-height: 25px;
    text-align: left;
    position: relative;
    top: 50px;
    left:400px;
}

#bodygrey{
    /* Photographer, works : */
    font-family: .AppleSystemUIFont;
    font-size: 16px;
    color: #86939E;
    letter-spacing: 0px;
    line-height: 25px;
    text-align: left;
    position: relative;
    top: 50px;
    left: 400px;

}

.subheader1{
    /* We push ourselves to: */
    font-family: .AppleSystemUIFont;
    font-size: 22px;
    color: #5E6977;
    letter-spacing: 0px;
    line-height: 32px;
    text-align: center;
}

.background3{
    /* Background: */
    background: #FFFFFF;
}

.copyright{
    text-align: right;
}

.wrapper3{
    text-align: center;
}

.input{
    /* Input: */
    border: 2px solid #E1E8EE;
    border-radius: 6px;
}

.button5{
    /* Button: */
    background: #7DC855;
}

#containerchart{
    top: 200px;
}

.quotecontain{
    margin: 0 auto;
}

/*Boostrap*/

.glyphicon.glyphicon-chevron-left{
    font-size: 50px;
    position: relative;
    top: 150px;
    right: 20px;
}

.glyphicon.glyphicon-chevron-right{
    font-size: 50px;
    position: relative;
    top: -40px;
    left: 1390px;

}

.text {
    margin-left: 120px;
}